:root {
  font-family: "SF Pro Display", sans-serif;
  src: url("https://fonts.cdnfonts.com/css/sf-pro-display");
  background-color: #d9e6f7;
}
.container-sign-in {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.baseboard-text-sign-in {
  color: #ed2590;
}
.info-header-sign-in {
  display: flex;
  justify-content: space-between;
  width: 301px;
}
.logo-orkut-sign-in {
  width: 107px;
  height: 32px;
}
.content-sign-in {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.main-image-sign-in {
  width: 580px;
  height: 470px;
  margin-right: 32px;
}
.login-box-sign-in {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 300px;
  height: 470px;
  background-color: #fdfeff;
  border-radius: 16px;
}
.text-sign-in:hover {
  text-decoration: underline;
  cursor: pointer;
}
.text {
  font-size: 12px;
}
.circle-image-sign-in {
  width: 10%;
}
.header-login-box-sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 120px;
}
.inputs-sign-in {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 200px;
  gap: 20px;
}
.checkbox-sign-in {
  color: #868686;
}
.buttons-login-box-sign-in {
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 200px;
  gap: 20px;
  display: flex;
}
.container-profile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
.info-header-profile {
  display: flex;
  justify-content: space-between;
  width: 301px;
}
.text-profile:hover {
  text-decoration: underline;
  cursor: pointer;
}
.tab-profile {
  color: #ed2590;
  font-weight: 600;
}
.content-profile {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 90%;
}
.basic-information-profile {
  display: flex;
  width: 80%;
  height: 50%;
  background-color: #fdfeff;
  border-radius: 16px;
}
.information-profile {
  width: 40%;
  height: 90%;
  background-color: #fdfeff;
  border-radius: 16px;
}
.other-users-profile {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: 20%;
  height: 90%;
}
.users-profile {
  display: flex;
  width: 80%;
  height: 47%;
  background-color: #fdfeff;
  border-radius: 16px;
}
.bar-information-profile {
  display: flex;
  width: 12%;
  height: 70%;
}
