:root {
  font-family: "SF Pro Display", sans-serif;
  src: url("https://fonts.cdnfonts.com/css/sf-pro-display");
  background-color: #d9e6f7;
}
p {
  color: #4b4b4b;
}
span {
  display: flex;
  gap: 7px;
  color: #b4aeae;
}
.container-sign-in {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.baseboard-text-sign-in {
  color: #ed2590;
}
.info-header-sign-in {
  display: flex;
  justify-content: space-between;
  width: 301px;
}
.logo-orkut-sign-in {
  width: 107px;
  height: 32px;
}
.content-sign-in {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  padding-top: 40px;
}
.main-image-sign-in {
  width: 580px;
  height: 470px;
}
.login-box-sign-in {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 300px;
  height: 470px;
  background-color: #fdfeff;
  border-radius: 16px;
}
.text-sign-in:hover {
  text-decoration: underline;
  cursor: pointer;
}
.text {
  font-size: 12px;
}
.circle-image-sign-in {
  width: 10%;
}
.header-login-box-sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 120px;
}
.inputs-sign-in {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 200px;
  gap: 20px;
}
.checkbox-sign-in {
  color: #868686;
}
.buttons-login-box-sign-in {
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 200px;
  gap: 20px;
  display: flex;
}
.container-profile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 40px;
}
.info-header-profile {
  display: flex;
  justify-content: space-between;
  width: 301px;
}
.text-profile:hover {
  text-decoration: underline;
  cursor: pointer;
}
.tab-profile {
  color: #ed2590;
  font-weight: 600;
}
.content-profile {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}
.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 270px;
  height: 525px;
}
.basic-information-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 50%;
  background-color: #fdfeff;
  border-radius: 16px;
  gap: 20px;
}
.information-profile {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 450px;
  height: 500px;
  background-color: #fdfeff;
  border-radius: 16px;
  gap: 20px;
}
.other-users-profile {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 525px;
}
.users-container-profile {
  display: flex;
  width: 86%;
  height: 60%;
  border: solid 5px #fdfeff;
  background-color: #fdfeff;
  border-radius: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 4px;
  flex-wrap: wrap;
}
.bar-information-profile {
  display: flex;
  width: 12%;
  height: 70%;
}
.img-poke-header-profile {
  border-radius: 80px;
  width: 45px;
  height: 45px;
  border: solid 1px #ed2590;
  cursor: pointer;
}
.header-profile {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 135px;
}
.img-poke-profile {
  width: 140px;
  height: 140px;
  border-radius: 100px;
  border: solid 3px #ed2590;
}
.header-users-profile {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.users-container-profile::-webkit-scrollbar {
  width: 12px;
}

.users-container-profile::-webkit-scrollbar-track {
  background: transparent;
}

.users-container-profile::-webkit-scrollbar-thumb {
  background-color: #ed2590;
  border-radius: 16px;
}
.text-name-profile {
  font-weight: 500;
  font-size: 26px;
}
.users-profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 5px;
  gap: 5px;
  align-items: flex-start;
  justify-content: start;
}
.header-information-profile {
  display: flex;
  flex-direction: column;
  height: 20%;
  gap: 20px;
}
.status-profile {
  display: flex;
  height: 39.36px;
  align-items: center;
  padding-left: 20px;
  border-radius: 10px;
  width: 95%;
  background-color: #eff3f8;
}
.content-information-profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
