:root {
  font-family: "SF Pro Display", sans-serif;
  src: url("https://fonts.cdnfonts.com/css/sf-pro-display");
  background-color: #d9e6f7;
}
p {
  color: #4b4b4b;
}
span {
  display: flex;
  gap: 7px;
  color: #b4aeae;
}
